<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{pageTitle}}</title>
  <link rel='stylesheet' href='/bootstrap-3.3.7-dist/css/bootstrap.min.css' />
  <link rel='stylesheet' href='/bootstrap-3.3.7-dist/css/custom.css' />
</head>

<body>
  <div class="container">
    <a href="/" class="title"><h1>Wet Socks</h1></a>
    <h3>Fetch this weeks weather</h3>
    <div class="form-group">
      <form action="/weather" class="form-inline">
        <input type="text" class="form-control" name="address" autofocus placeholder="{{placeholder}}">
        <button type="submit" class="btn btn-info">fetch</button>
      </form>
    </div>

    {{#if errorMessage}}
    <p class="address-error">{{errorMessage}}</p>
    {{/if}} {{#if showWeather}} {{#unless errorMessage}}

    <p class="address">{{address}}</p>
    <div class="big-text">
      <p>{{localTime.day}} {{localTime.date}} {{localTime.month}}, {{localTime.hours}}:{{localTime.minutes}}</p>
      <p>{{summary}}</p>

      <ul class="list-group-current">
        <li class="list-group-current-item">It's currently: {{temperature}}°C</li>
        <li class="list-group-current-item">It feels like: {{apparentTemperature}}°C</li>
        <li class="list-group-current-item">Chance of rain: {{precipProbability}}%</li>
      </ul>
      <ul class="list-group-current">
        <li class="list-group-current-item">Humidity: {{humidity}}%</li>
        <li class="list-group-current-item">Cloud coverage: {{cloudCover}}%</li>
        <li class="list-group-current-item">Pressure: {{pressure}}</li>
      </ul>
    </div>


    <p class="hourly">Hourly forecast</p>



    <table class="table table-hover">
      <div class="big-text">
        <ul class="list-group">
          <li class="list-group-item">Time</li>
          <li class="list-group-item">Summary</li>
          <li class="list-group-item">Temp</li>
          <li class="list-group-item">Chance of rain</li>
          <li class="list-group-item">Cloud cover</li>
        </ul>
      </div>

      {{#each hourlyWeather}}

      <ul class="list-group">
        <li class="list-group-item"><p class="hourly-time"> {{this.timeByHour.day}} {{this.timeByHour.date}} {{this.timeByHour.hours}}:{{this.timeByHour.minutes}}</p></li>
        <li class="list-group-item">{{this.summary}}</li>
        <li class="list-group-item">{{this.temp}}°C</li>
        <li class="list-group-item">{{this.precipProbability}}%</li>
        <li class="list-group-item">{{this.cloudCover}}%</li>
      </ul>

      {{/each}}


    </table>

    {{/unless}} {{/if}}
</div>
    <footer class="footer">
      <h2>Keep your feet dry</h2>

      <p class="text-muted">© <a href={{homepage}}>Simeon Kerkola</a> {{getCurrentYear}} Source Code available under MIT license <a href="{{wetSocksGithub}}">here.</a>
        <br><span class="shout-out">Powered by <a href="https://darksky.net/poweredby/">Dark Sky</a></p></span>

      </footer>

    <script src="/js/jquery-3.2.1.min.js"></script>
    <script src="/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <script src="/js/index.js"></script>
    <script>
    (function (i, s, o, g, r, a, m) {
      i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
        (i[r].q = i[r].q || []).push(arguments)
      }, i[r].l = 1 * new Date(); a = s.createElement(o),
      m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
    ga('create', 'UA-102566898-2', 'auto');
    ga('send', 'pageview');
    </script>
  </body>

  </html>
