<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{pageTitle}}</title>
  <link rel='stylesheet' href='/bootstrap-3.3.7-dist/css/bootstrap.min.css' />
  <link rel='stylesheet' href='/bootstrap-3.3.7-dist/css/custom.css' />
</head>

<body>
  <div class="container">
    <a href="/" class="title">
      <h1>Wet Socks</h1>
    </a>
    <h3>Fetch this week's weather</h3>
    <div class="form-group">
      <form action="/" class="form-inline">
        <input type="text" class="addressInput form-control" name="address" autofocus placeholder="{{placeholder}}">
        <button id="submitBtn" type="submit" class="btn btn-info">Go!</button>
      </form>
    </div>

    <div class="centered">
      <p class="address-error errorMessage hide-me"></p>
      <div class="loadingSpinner hide-me">Loading...</div>
    </div>

    <div class="weather-container weatherContainer hide-me">
      <div class="centered">
        <h2 class="address"></h2>

        <p>
          <span class="big-number bigNumber"></span><span class="celsius">°C</span>
        </p>
        <h2> <img class="current-icon currentIcon"></h2>
        <p class="summary"></p>
      </div>

      <div class="weather-junk">
        <p class="localTime"></p>
        <div class="row">
          <div class="col-xs-4 weather-col">It feels like: <span class="apparentTemperature">appa</span>°C</div>
          <div class="col-xs-4 weather-col">Chance of rain: <span class="precipProbability"></span>%</div>
          <div class="col-xs-4 weather-col">Wind Speed: <span class="windSpeed"></span>m/s</div>

        </div>
        <div class="row">
          <div class="col-xs-4 weather-col">Humidity: <span class="humidity"></span>%</div>
          <div class="col-xs-4 weather-col">Cloud coverage: <span class="cloudCover"></span>%</div>
          <div class="col-xs-4 weather-col">Gusts: <span class="windGust"></span>m/s</div>
        </div>

        <div class="row">
          <div class="col-xs-4 weather-col">UV Index: <span class="uvIndex"></span></div>
          <div class="col-xs-4 weather-col">Visibility: <span class="visibility"></span>km</div>
          <div class="col-xs-4 weather-col">Pressure: <span class="pressure"></span>hPa</div>
        </div>

        <div class="row">
          <div class="col-xs-3 weather-col first-row">Hourly forecast</div>
          <div class="col-xs-1 weather-col first-row"> </div>
          <div class="col-xs-2 weather-col first-row"> </div>
          <div class="col-xs-2 weather-col first-row"> </div>
          <div class="col-xs-1 weather-col first-row">☂︝</div>
          <div class="col-xs-1 weather-col first-row">☝︝</div>
          <div class="col-xs-1 weather-col first-row">🌬</div>

        </div>

        <div class="weatherHourly">
          <!-- <div class="row">
          <div class="col-xs-2 weather-col hourly-time">{{this.timeByHour}}</div>
          <div class="col-xs-1 weather-col first-row"><webicon icon="weather:{{icon}}"/></div>
          <div class="col-xs-3 weather-col hourly-summary">{{this.summary}}</div>
          <div class="col-xs-2 weather-col">{{this.temp}}°C</div>
          <div class="col-xs-1 weather-col">{{this.precipProbability}}%</div>
          <div class="col-xs-1 weather-col">{{this.cloudCover}}%</div>
          <div class="col-xs-1 weather-col">{{this.wind}}m/s</div>
        </div> -->
        </div>





      </div>
    </div>

    <footer class="footer">
      <h2>Keep your feet dry</h2>

      <p class="text-muted">© <a href={{homepage}}>Simeon Kerkola</a> {{getCurrentYear}} Source Code available under
        MIT license <a href="{{wetSocksGithub}}">here.</a>
        <br><span class="shout-out">Powered by <a href="https://darksky.net/poweredby/">Dark Sky</a></p></span>

    </footer>
  </div>




  <script src="/js/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="//cdn.rawgit.com/icons8/bower-webicon/v0.10.7/jquery-webicon.min.js"></script>

  <script src="/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
  <script src="/js/axios.js"></script>
  <script src="/js/index.js"></script>
  <script>
    (function (i, s, o, g, r, a, m) {
      i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
        (i[r].q = i[r].q || []).push(arguments)
      }, i[r].l = 1 * new Date(); a = s.createElement(o),
        m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
    ga('create', 'UA-102566898-2', 'auto');
    ga('send', 'pageview');
  </script>
</body>

</html>
